<img src="{{ poster }}">
<div class="title" data="{{ title }}({{ year }})">
    {{ title }}({{ year }})
    <div class="star-ratings-css">
      <div class="star-ratings-css-top" style="width: {{ width }}%">
          &#x2605&#x2605&#x2605&#x2605&#x2605
      </div>
      <div class="star-ratings-css-bottom">
          &#x2605&#x2605&#x2605&#x2605&#x2605
      </div>
    </div>
    <div class="review_cnt">
        ({{ cnt }} reviews)
    </div>
{# {{ rate }} / 5 ({{ cnt }} reviewer)#}
</div>
<div class=pid pid="{{ pid }}"></div>